<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.rojakrecycle.BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"

            />
    </application>
</manifest>